@import "variables";

.project-title__wrapper {
  $margin: 12px;
  position: relative;

  &:before {
    content: '';
    height: 110%;
    top: 50%;
    transform: translateY(-50%);
    width: 5px;
    background-color: $color;
    position: absolute;
    left: -$margin;
  }
}

.project-title__header--uppercase {
  text-transform: uppercase;
  margin: 0
}
