@import 'variables';

.personal-details__header {
  font-size: $text-header-font-size;
  background-color: $color;
  color: $color-inverted;
  position: relative;
  width: 100%;
  padding: 7px $space;
  text-transform: uppercase;
  margin: 16px 0 14px;
  transform: translateX(-$space);
}
