<div
  [ngClass]="{
    'title--category': type === titleType.category,
    'title--experience': type === titleType.experience
  }"
  *ngIf="title || position || link"
>
  <span class="title--date" *ngIf="!!date">{{ date.join(' - ') }}</span>
  <h4 *ngIf="!!title" class="title--header">
    {{ title }}
    <span *ngIf="position" class="position">- {{ position }}</span>
  </h4>
  <a *ngIf="link" [href]="'https://' + link" target="_blank">{{ link }}</a>
</div>
<a
  *ngIf="git"
  [href]="'https://' + git"
  target="_blank"
  class="title--project"
  >{{ git }}</a
>
