@mixin theme($theme-name, $theme-map) {
  @each $section, $map in $theme-map {
    @if ($section == body) {
      body#{$theme-name} {
        background-color: map-get($map, background-color);
        color: map-get($map, color);
      }
    } @else {
      #{$section} {
        background-color: map-get($map, background-color);
        color: map-get($map, color);
      }
    }
  }
}
