@mixin theme($theme-name, $theme-map) {
  @each $section, $map in $theme-map {
    @if ($section == body) {
      body#{$theme-name} {
        background-color: map-get($map, background-color);
        color: map-get($map, color);
      }
    } @else {
      #{$theme-name$section} {
        background-color: map-get($map, background-color);
        color: map-get($map, color);
        border: map-get($map, border);
        border-left: map-get($map, border-left);
        border-right: map-get($map, border-right);
        border-top: map-get($map, border-top);
        border-bottom: map-get($map, border-bottom);
      }
    }
  }
}


@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
