/* MOBILE SIZING */
//$xs: 320px; //mobile
//$sm: 481px; //tablets
//$md: 769px; //small devices
//$lg: 1025px; //large / PC
//$xl: 1201px;  //extra large

$xs: 320px; //mobile
$sm: 678px; //tablets
$md: 720px; //small devices
$lg: 209mm; //large / PC
//$xl: 1201px;  //extra large

/* SIZING */
$page-height: 297mm;
$space: 32px;
$space-between-elements: 16px;
$space-between-elements-md: 64px;
$border-size: 5px;
$line-height: 18px;
$paragraph-margin: 8px;

$avatar-size: 125px;

//font
$font-size: 10px;
$font-size-xs: 12px;

$text-header-font-size: 1.5rem;
$text-font-size: 1.2rem;
$text-date-size: 1.1rem;
$user-details-font-size: 3rem;

/* COLORS */

$theme-dark: #343637;
$theme-white: #fff;
$main-color: #e6e6e8;
$color: #362d2e;
$color-inverted: #fff;

$font-accent-1: rgba(0, 0, 0, 0.8);
$font-accent-2: rgba(0, 0, 0, 0.5);
