<!--<span>{{'langTest' | translate}}</span>-->
<header>
  <img src="./assets/img/user.jpg" alt="User"/>

  <div>
    <h1 [innerHTML]="'name' | translate | bold"></h1>

  </div>
  <h2>
    {{'position' | translate}}
  </h2>
</header>

<section id="content">
  <aside>
    <section id="contact">
      <h3>{{'contact.title' | translate}}</h3>
      <ul>
        <li *ngFor="let contact of contacts">
          <i antIcon [type]="contact.icon" theme="fill"></i>
          <a [href]="contact.link" target="_blank">{{ contact.title | translate}}</a></li>
      </ul>
    </section>

    <section id="skills">
      <h3>{{'skills.title' | translate}}</h3>
      <ul>
        <li *ngFor="let skill of skills">
          <h4>{{skill.level}}</h4>
          <p> {{skill.name.sort() | join: ', '}} </p>
        </li>
      </ul>
    </section>

    <section id="languages">
      <h3>{{'languages.title' | translate}}</h3>
      <ul>
        <li *ngFor="let language of languages">
          {{language.language}} <span>{{language.level}}</span>
        </li>
      </ul>
    </section>

    <section id="hobbies">
      <h3>{{'hobbies.title' | translate}}</h3>
      <p>{{'hobbies.child' | translate | join: ', ' }}</p>
    </section>
  </aside>
  <main>
    <section id="objective">
      <h3 [innerHTML]="'objective.title' | translate | bold"></h3>
      <p>{{'objective.description' | translate}}</p>
    </section>
    <section id="experience">
      <h3 [innerHTML]="'experience.title' | translate | bold"></h3>
      <ul *ngFor="let jobs of experience">
        <li *ngFor="let job of jobs">
          <span class="end">{{job.date[1] ? job.date[1] : job.date[0]}}</span>
          <span class="start" *ngIf="job.date[1]">{{job.date[0]}}</span>
          <h4>{{job.title}}</h4>
          <p *ngIf="job.description" [innerHTML]="job.description"></p>
        </li>
      </ul>
    </section>
  </main>
</section>
