header {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  grid-template-rows: auto;
  grid-template-areas: 'img name' 'description description';
  text-transform: uppercase;
  /*  & > * {
      $margin: 10px;
      margin-left: $margin;
      margin-right: $margin;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

    }*/

  img {
    max-width: 100%;
    border: 1px solid #5c5d5b;
    grid-area: img;
  }

  div {
    grid-area: name;
    margin: auto;

    h1 {
      font-weight: normal;
      border-bottom: 2px solid #4d4f50;
      text-align: center;
      font-size: 1.75rem;
      margin: 0;
      padding-bottom: 4px;

      span {
        font-weight: bold;
      }
    }
  }

  h2 {
    //font-weight: normal;
    font-size: 1rem;
    grid-area: description;
    margin-bottom: 25px;
  }


}

section#content {
  border-top: 2px solid #4d4f50;

  aside {
    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-left: 15px;

      li:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }

    section:not(:first-of-type) {
      border-top: 2px solid #4d4f50;
      margin-top: 50px;
    }

    section#contact ul {
      li {
        $icon-size: 1.5rem;
        display: grid;
        grid-template-columns: $icon-size 1fr;
        grid-template-areas: 'icon any';
        grid-template-rows: auto;
        grid-gap: 20px;

        i {
          grid-area: icon;
          text-align: center;
          font-size: $icon-size;
          display: flex;
        }

        & > * {
          grid-area: any;
          text-decoration: none;
          margin: auto 0;
        }
      }
    }

    section#languages {
      ul {
        list-style: circle;
        margin-left: 36px;
        li span {
          opacity: .65;
        }
      }
    }

  }
}
