<!--<span>{{'langTest' | translate}}</span>-->
<div class="page">
  <aside>
    <section id="user">
      <img src="./assets/img/user.jpg" alt="User"/>
      <div class="user-name">
        <h1>{{'name' | translate}}</h1>
        <h2>{{'position' | translate}}</h2>
      </div>
    </section>

    <section id="contact">
      <h3><span>{{'contact.title' | translate}}</span></h3>
      <ul>
        <li *ngFor="let contact of 'contact.child' | translate">
          <i antIcon [type]="contact.icon" theme="fill"></i>
          <a [href]="contact.link" target="_blank">{{ contact.title | translate}}</a></li>
      </ul>
    </section>

    <section id="languages">
      <h3><span>{{'languages.title' | translate}}</span></h3>
      <ul>
        <li *ngFor="let language of 'languages.child' | translate">
          {{language.language}} <span>{{language.level}}</span>
        </li>
      </ul>
    </section>

    <section id="hobbies">
      <h3><span>{{'hobbies.title' | translate}}</span></h3>
      <p>{{'hobbies.child' | translate | join: ', ' }}</p>
    </section>

    <section id="skills">
      <h3><span>{{'skills.title' | translate}}</span></h3>
      <ul>
        <li *ngFor="let skill of 'skills.child' | translate">
          <span>{{skill.technology}}</span> <span class="level">{{skill.level}}</span>
        </li>
      </ul>
    </section>
    <section id="additional-skills">
      <h3><span>{{'additionalSkills.title' | translate}}</span></h3>
      <p>{{'additionalSkills.child' | translate | join: ', '}}</p>
    </section>
    <section id="programs">
      <h3><span>{{'programs.title' | translate}}</span></h3>
      <p>{{'programs.child' | translate | join: ', '}}</p>
    </section>
  </aside>
  <main>
    <section id="user-name">
      <div>
        <h1>{{'name' | translate}}</h1>
        <h2>{{'position' | translate}}</h2>
      </div>
    </section>
    <section id="objective">
      <h3>{{'objective.title' | translate}}</h3>
      <p>{{'objective.description' | translate}}</p>
    </section>
    <section id="experience">
      <h3>{{'experience.title' | translate}}</h3>
      <div *ngFor="let work of 'experience.child' | translate">
        <div class="title">
          <span>{{work.date.join(' - ')}}</span>
          <h4>{{work.title}} <span *ngIf="work.position">- {{work.position}}</span></h4>
        </div>
        <p>
          {{work.description}}
        </p>

        <div class="category-wrapper">
          <div class="category" [ngClass]="{'no-margin': !category.title}" *ngFor="let category of work.subcategory">
            <div class="category-title">
              <span *ngIf="category.date">{{category.date.join(' - ')}}</span>
              <h4>{{category.title}}</h4>
            </div>
            <p [innerHTML]="category.description"></p>
          </div>
        </div>

      </div>
    </section>

    <section id="projects">
      <h3>{{'projects.title' | translate}}</h3>
      <div class="category-wrapper">
        <div class="category" [ngClass]="{'no-margin': !project.title}"
             *ngFor="let project of 'projects.child' | translate">
          <div class="category-title">
            <h4 class="upper">{{project.title}}</h4>
            <a [href]="project.link" target="_blank">{{project.link}}</a>
          </div>
          <a [href]="project.git" target="_blank">{{project.git}}</a>
        </div>
      </div>
    </section>
    <p id="clause">
      {{'clause' | translate}}
    </p>
  </main>
</div>
