$color: #362D2E;
$space: 32px;
aside, main {
  padding: $space;

}

aside {
  section#user {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-template-areas: "image" "name" "position";

    img {
      max-width: 61.63%;
      max-height: 61.63%;
      border-radius: 50%;
      filter: saturate(0);
      left: 50%;
      position: relative;
      transform: translateX(-50%);
      grid-area: image;
    }

    h1 {
      font-size: 2rem;
      grid-area: name;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 0;
    }

    h2 {
      font-size: 1.4rem;
      grid-area: position;
      font-weight: 400;
      text-align: center;
    }
  }

  section {
    margin-top: 5%;

    &:not(:first-of-type) {

      margin-bottom: 40px;

      h3 {
        margin: 0 0 8px;
        text-transform: uppercase;
        display: grid;
        position: relative;
        grid-template-columns: 1fr auto 1fr;
        grid-template-rows: auto;
        grid-template-areas: "before header after";

        span {
          grid-area: header;
          min-width: 125px;
          text-align: center;
          font-size: 1.7rem;
          padding: 0 10px;
        }

        &:before, &:after {
          content: '';
          height: 5px;
          width: 100%;
          background-color: $color;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }

        &:before {
          grid-area: before;
        }

        &:after {
          grid-area: after;
        }
      }

      * {
        font-size: 1.2rem;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          width: 100%;
          text-align: center;
          border-bottom: 1.32px solid $color;
          padding: 3.5% 0;
          position: relative;

          *, & {
            color: $color;
            text-decoration: none;
            font-weight: 700;
          }

          i {
            font-weight: 400;
            position: absolute;
            left: 7%;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }

  section#languages {
    text-transform: uppercase;

    ul li span {
      opacity: 50%;
    }
  }

  section#hobbies {
    text-transform: capitalize
  }

  section#skills {
    $border: 5px solid $color;
    $top: 8px;
    margin-top: $top;
    margin-bottom: 0;


    h3 {
      top: -$top;
      width: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
    }

    border-left: $border;
    border-right: $border;
    border-bottom: $border;

    ul {
      margin-bottom: $top+$top;

      li {

        border-bottom: none;
        display: flex;
        justify-content: space-between;
        padding: 1% 0;

        span {
          font-weight: 400;
          margin-left: 25px;
          text-transform: uppercase;
        }

        span:nth-of-type(2) {
          margin-right: 25px;
          text-transform: capitalize;
          opacity: 50%;
        }
      }
    }
  }

  section#additional-skills, section#programs {
    $padding: 20px;
    margin: 0;
    padding-top: $padding;

    &, * {
      background-color: $color;
      color: white;
    }

    h3 {
      &:before, &:after {
        background-color: white;
      }
    }

    p {
      text-transform: uppercase;
      margin: 0 25px;
      padding-top: $padding/2;
      padding-bottom: 20px;
    }
  }

  section#programs {
    padding-bottom: 20px;
  }
}

main {
  background-color: #E6E6E8;
  margin-bottom: $space;
  font-size: 1.2rem;
  position: relative;

  h3 {
    position: relative;
    width: 100%;
    background-color: $color;
    color: white;
    transform: translateX(-$space);
    padding: 7px $space;
    font-size: 1.7rem;
    text-transform: uppercase;
  }

  section {
    margin-bottom: 30px;

    & > div {
      margin-bottom: 25px;
    }

    .title {
      position: relative;

      &:before {
        content: '';
        height: 110%;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        background-color: $color;
        position: absolute;
        left: -$space;

      }
    }

    h4 {
      margin: 0;
      text-transform: uppercase;

      span {
        font-weight: 400;
        text-transform: none;
      }
    }

    .category-wrapper {
      $margin: 12px;
      .category {
        margin-top: 25px;

        &:not(.no-margin) {
          margin-left: $margin;
        }
      }

      .category-title {
        position: relative;

        &:before {
          content: '';
          height: 110%;
          top: 50%;
          transform: translateY(-50%);
          width: 5px;
          background-color: $color;
          position: absolute;
          left: -$margin;
        }

        h4 {
          text-transform: none;
          &.upper {
            text-transform: uppercase;
          }
        }
      }
    }

  }


}
