@import 'variables';

.experience__description {
}

.experience__category-wrapper {
  display: grid;
  grid-template-columns: repeat(1, auto);
  gap: $space-between-elements;
}

.experience__category-wrapper,
.experience__description {
  margin-top: $paragraph-margin;
  margin-bottom: 0;
}

@media screen and (min-width: $md), print {
  .experience__category-wrapper {
    grid-template-columns: repeat(2, auto);
  }
}
