div {
  display: flex;
  position: fixed;
  bottom: 10px;
  right: 20px;
  * {
    margin-left: 15px;
    max-width: 40px;
  }
}

@media screen and (min-width: 640px) {
  div {
    bottom: unset;
    top: 10px
  }
}

@media print {
  div {
    display: none;
  }
}
