.container {
  height: 100vh;
  width: 100vw;
  position: relative;

  $space: 5px;

  &:before, &:after {
    content: '';
    width: 100%;
    height: 25vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  .content {
    z-index: 1;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #5c5d5b;
    padding: 39px;
    box-sizing: border-box;
  }
}
