<div class="skill-box">
  <h3 class="text-header skill-box__title">{{ skillTitle }}</h3>
  <ul *ngIf="!!skillLevel" class="section__list skill-box__list">
    <li *ngFor="let item of skillLevel" class="skill-box__list-element">
      {{ item }}
    </li>
  </ul>

  <div class="skill-box__section">
    <div *ngIf="!!additionalSkillTitle">
      <h3 class="text-header">{{ additionalSkillTitle }}</h3>
      <p *ngIf="!!additionalSkills" class="skill-box__additional-skills">
        {{ additionalSkills }}
      </p>
    </div>
    <div *ngIf="!!programsTitle">
      <h3 class="text-header">{{ programsTitle }}</h3>
      <p *ngIf="!!programs" class="skill-box__additional-skills">
        {{ programs }}
      </p>
    </div>
  </div>
</div>
