<div class="page">
  <aside>
    <section id="user" class="user">
      <app-avatar-section
        [name]="'user.name' | translate"
        [position]="'user.position' | translate"
        url="./assets/img/user.jpg"
      >
      </app-avatar-section>
    </section>
    <div class="information-section">
      <section id="contact">
        <app-personal-information
          [title]="'contact.title' | translate"
          [list]="'contact.data' | translate"
        >
        </app-personal-information>
      </section>
      <section id="languages">
        <app-personal-information
          [title]="'languages.title' | translate"
          [list]="'languages.data' | translate"
          class="text-uppercase"
        >
        </app-personal-information>
      </section>
      <section id="hobbies">
        <app-personal-information [title]="'hobbies.title' | translate">
          <p>{{'hobbies.child' | translate | join: ', ' }}</p>
        </app-personal-information>
      </section>
      <section id="skill">
      <app-skill-box
        [skillTitle]="'skills.title' | translate"
        [skillLevel]="'skills.child' | translate"
        [additionalSkillTitle]="'additionalSkills.title' | translate"
        [additionalSkills]="'additionalSkills.child' | translate | join: ', ' | uppercase"
        [programsTitle]="'programs.title' | translate"
        [programs]="'programs.child' | translate | join: ', ' | uppercase"
      >
      </app-skill-box>
    </section>
    </div>
  </aside>
  <main>
    <section id="user-name" class="user-box">
      <div class="user-box__wrapper">
        <h1 class="user-box__name">{{'user.name' | translate}}</h1>
        <h2 class="user-box__position">{{'user.position' | translate}}</h2>
      </div>
    </section>
    <section id="objective">
      <app-personal-details [title]="'objective.title' | translate">
        <p>{{'objective.description' | translate}}</p>
      </app-personal-details>
    </section>
    <section id="experience">
      <app-personal-details [title]="'experience.title' | translate">
        <app-experience *ngFor="let work of 'experience.child' | translate"
                        [title]="work.title"
                        [date]="work.date"
                        [position]="work.position"
                        [description]="work.description"
                        [subcategory]="work.subcategory"
        >
        </app-experience>
      </app-personal-details>
    </section>

    <section id="projects">
      <app-personal-details [title]="'projects.title' | translate">
        <div class="projects">
          <app-project-box *ngFor="let project of 'projects.child' | translate"
                           [title]="project.title"
                           [link]="project.link"
                           [git]="project.git"
          >
          </app-project-box>
        </div>
      </app-personal-details>
    </section>
    <p id="clause">
      {{'clause' | translate}}
    </p>
  </main>
</div>
