@import "../../../styles/abstracts/variables";

section {
  padding: 14px 3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: gray;
  * {
    margin: 0;
  }

  button {
    border-radius: 50%;
    height: 25px;
    width: 25px;

    &.white-theme {
      background-color: $theme-white;
      margin-right: 10px;
    }

    &.dark-theme {
      background-color: $theme-dark;
    }

  }

  .lang {
    display: flex;

    img {
      height: 20px;
      max-width: 100%;

      &:nth-of-type(2) {
        margin-left: 10px;
        background-color: black
      }
    }
  }

  i {
    font-size: 1.25rem;
  }
}

@media (min-width: 8.29in), print{
  section {
    flex-direction: column;
    height: 200px;
    background: unset;
    text-align: center;

    * {
      display: flex;
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      text-align: center;
    }
    span {
      display: none;
    }

    .dark-theme {
      margin-top: 15px;
    }

    .lang img:nth-of-type(2) {
      block-size: auto;
      margin: 10px 0 0;
    }

    i {
      font-size: 3rem;
    }
  }
}
