/* You can add global styles to this file, and also import other style files */

@import "styles/fonts/fonts";
@import "styles/abstracts/functions";

// START: Theme
@import "styles/theme/light";
@import "styles/theme/dark";
// END: Theme

body, html {
  margin: 0;
  padding: 0;
  background-color: gray;
}

@media all and (max-width: 640px) {
  :root {
    font-size: calc(10px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }
}

a {
  color: unset;
  text-decoration: none;
}

$min_width: 320px;
$max_width: 640px;
$min_font: 10px;
$max_font: 20px;

:root {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

@media all and (min-width: $max_width) {
  :root {
    font-size: $min_font;
  }
}
