/* You can add global styles to this file, and also import other style files */

@import "styles/fonts/fonts";

// START: Theme
@import "styles/theme/light";
@import "styles/theme/dark";
// END: Theme

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
:root {
  font-size: 15px;
}

* {
  outline:none;
}


//// Extra small devices (portrait phones, less than 576px)
//@media (min-width: 576px) { ... }
//
//// Medium devices (tablets, 768px and up)
//@media (min-width: 768px) { ... }
//
//// Large devices (desktops, 992px and up)
//@media (min-width: 992px) { ... }
//
//// Extra large devices (large desktops, 1200px and up)
//@media (min-width: 1200px) { ... }
@media (min-width: 8.29in), print {
  :root {
    font-size: 10px;
  }
}
@media print {

  html, body {
    height:100% !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-color: $theme-color-dark;
  }

}
