/* You can add global styles to this file, and also import other style files */

@import "styles/fonts/fonts";
@import "styles/abstracts/functions";
@import "variables";


body, html {
  margin: 0;
  padding: 0;
  background-color: gray;
}


a {
  color: unset;
  text-decoration: none;
}

:root {
  font-size: $font-size-xs;
}

@media all and (min-width: $sm) {
  :root {
    font-size: $font-size;
  }
}

.text-uppercase {
  text-transform: uppercase;
}


.text-header {
  text-transform: uppercase;
  position: relative;
  font-size: $text-header-font-size;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 25px;
  margin-bottom: 0;


  &:before, &:after {
    content: '';
    height: $border-size;
    background-color: $color;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}


.section__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section__level {
  color: rgba($color, 0.51);
}

.text-paragraph {
  margin: 0;
  color: $font-accent-1;
  line-height: $line-height;
}
