@import "../abstracts/variables";
@import "../abstracts/functions";

$theme-color-primary: $theme-dark;
//$theme-color-primary: #202223;
$theme-color-secondary: #4d4f50;
$theme-color-dark:  #e0e1de;
$theme-border: 2px solid $theme-color-dark;
$theme-font-color: #eeeeee;


$theme: (
  body: (
    background-color: $theme-color-secondary,
    color: $theme-font-color
  ),
  'body:before':(
    background-color: $theme-color-primary,
    border: $theme-color-dark
  ),
  '.container':(
    background-color: $theme-color-secondary
  ),
  '.container:before':(
    background-color: $theme-color-dark
  ),
  '.container:after':(
    background-color: $theme-color-dark
  ),
  '.container .content': (
    background-color: $theme-color-primary
  ),
  'header h1' :(
    border-bottom: $theme-border
  ),
  'section#content': (
    border-top: $theme-border
  ),
  'a': (
    color: $theme-font-color
  ),
  'aside section:not(:first-of-type), main section:not(:first-of-type)': (
    border-top: $theme-border
  ),
  'section#content > main': (
    border-top: $theme-border
  ),
  'section#experience li:before':(
    border-left: $theme-border
  ),
  '.control-menu': (
    background-color: $theme-color-primary
  )
);


@include theme('.dark', $theme)
