@import "../abstracts/variables";
@import "../abstracts/functions";

$theme-color-primary: $theme-white;
$theme-color-secondary: #e0e1de;
$theme-color-dark: #4d4f50;
$theme-border: 2px solid $theme-color-dark;
$theme-font-color: #202223;

$theme: (
);


@include theme('', $theme)
