@import "../abstracts/variables";
@import "../abstracts/functions";

$theme-body-light: #fff;
$theme-body-dark: #e0e1de;
$theme-body-border: #5c5d5b;
$theme-font-color: #202223;

$theme: (
  body: (
    background-color: $theme-body-dark,
    color: $theme-font-color
  ),
  'body:before':(
    background-color: $theme-body-light,
    border: $theme-body-border
  ),
  '.container':(
    background-color: $theme-body-dark
  ),
  '.container:before':(
    background-color: $theme-body-border
  ),
  '.container:after':(
    background-color: $theme-body-border
  ),
  '.container .content': (
    background-color: $theme-body-light
  )
);


@include theme('', $theme)
